.join-container
{
   margin-top: 150px;
}

.input-container
{
	width: 600px;
    margin: 0px auto;
}

#join-name
{
   margin: 0 auto;
    width: 400px;
    height: 50px;
}

#join-email 
{
   margin: 0 auto;
    width: 400px;
    height: 50px;
}

#join-pwd
{
   margin: 0 auto;
    width: 400px;
    height: 50px;
}

#join-pwdConf
{
   margin: 0 auto;
    width: 400px;
    height: 50px;
}

.joinBtn-div
{
    margin: 15px auto;
    width: 374px;
}

.joinBtn
{
    margin: 0 0 0 494px;
}