.login-container
{
   margin-top: 150px;
}

#login-email 
{
   margin: 0 auto;
    width: 400px;
    height: 50px;
}

#login-pwd
{
   margin: 0 auto;
    width: 400px;
    height: 50px;
}

.logBtn-div
{
    margin: 0 auto;
    width: 400px;
}

.logBtn
{
    margin: 0 0 0 494px;
}