.login_container
{
   margin-top: 150px;
}

#login_email 
{
   margin: 0 auto;
    width: 400px;
    height: 50px;
}

#login_pwd
{
   margin: 0 auto;
    width: 400px;
    height: 50px;
}

.logBtn_div
{
    margin: 0 auto;
    width: 400px;
}

.logBtn
{
 
    margin: 0 0 0 494px;
}