.share_board_container
{
   margin-top: 50px;
   max-width: 1200px;
   margin: 0 auto;
}
.share_board_index
{
   position: relative;
}

#add_btn
{
   margin-left: 94%;

}

.img_div
{
   padding: 12px;
}

.all
{
    float: left;
    width: 31.3%;
    height: 330px;
    margin: 0px 0px 5px 18px;
}

#home_img
{
    width: 100%;
    height: 250px;
}

.house_container
{
   width: 75%;
   float: left;
   margin-top: 49px;

}
.search_box
{
   background-color: #F5F3F1;
   float: left;
    width: 25%;
    padding: 0 1rem;
    box-sizing: border-box;
    height: 300px;
    margin-top: 49px;
}
.soso
{
   padding: 0.5rem 1rem;
    background-color: #FFF;
    border: 1px solid #E9E9E9;
    border-top-color: #FFF;
}