#add-btn, #login-btn, #join-btn {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    padding: 7px 11px 4px 11px;
}
.share-board-container
{
   margin-top: 50px;
   max-width: 1200px;
   margin: 0 auto;
}
.field
{
   margin: 40px 0px;
}
.text-input
{
   margin-top: 20px;
   display: block;
    width: 100%;
    height: 40px;
    padding: 0 2rem;
    background-color: #FFF;
    box-shadow: inset 0 0 0 1px #E9E9E9;
    border: 0px;
}
.house-select-titl , .login-notice-titl{
   font-family: initial;
   font-size: 20px;
   font-weight: bold;
   color: #333;
}
.field2
{
   margin: 20px 0 20px 36px;
}
.share-board-index
{
   position: relative;
}

#add-btn
{
   margin-left: 93.7%;

}
.house-div
{
    float: left;
    height: 20px;
    width: 76.4%;
    background-color: #f5f5f5;
    margin-top: 50px;
    margin-left: 19px;
}
.house-view
{
   float: left;
    font-size: 25px;
    color: #333;
    margin-top: 5px;
    margin-left: 19px;
}
.img-div
{
   padding: 12px;
}

.all
{
    float: left;
    width: 31.3%;
    height: 330px;
    margin: 0px 0px 5px 18px;
}

#home-img
{
    width: 100%;
    height: 250px;
}

.house-container
{
   width: 78%;
   float: left;
   margin-top: 10px;

}
.search-box
{
    background-color: #F5F3F1;
    float: left;
    width: 20%;
    padding: 0 1rem;
    box-sizing: border-box;
    height: 300px;
    margin-top: 49px;
}
.infomation
{
   padding: 0.5rem 1rem;
    background-color: #FFF;
    color: #5a4140c7;
    border: 1px solid #E9E9E9;
}
.infomation >p
{
   font-size: 15px;
}
.like-people
{
   float: right;
}