.share_board_update_container
{
	margin-top: 50px;
	width: 1000px;
	margin: 100px auto;
}

.home-img
{
	width: 100%;
}


.img
{
	float: left;
	position: relative;
    margin-left: 5px;
    margin-top: 10px;
    width: 320px;
    height: 200px;
}

.btn-container
{
	margin-left: 888px;
}
#titl
{
	resize: none;
    height: 34px;
}
#con
{
	resize: none;
	height: 300px
}
#fileList
{
	witdh :100%;
	margin-top: 10px;
	margin-bottom: 20px;
}


.title_select {
  border: 3px solid #F7AC1A;
}

.AddRemove, .selFile {
  position: absolute;
  right: 3%;
  top: 3%;
  font-size: 16px;
}